* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 48);
}
.card {
  height: 400px;
  width: 340px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}
.card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 30px;
  outline: 10px solid white;
}
.card h2 {
  margin-top: 40px;
  font-size: 40px;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card p {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
.btn {
  padding: 5px 20px;
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid white;
  font-size: 20px;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
